<header class="w-100">
   <nav class="navbar navbar-expand-lg p-0">
       <div class="container-fluid">
           <div class="p-4 px-lg-5 d-flex justify-content-between top-bar-mobile">
       <a class="navbar-brand " href="/" >

           <img src='assets/images/dessita-ux-logo.svg'
                class='img-responsive logo'
                alt='dessita UX'>
       </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
               <img src="assets/images/svg/bars-solid.svg"
               class='img-responsive' style="height:25px;"
               alt='menu-hamburger' />
           </button>
           </div>

           <div class="main-menu py-4 pr-lg-5 collapse navbar-collapse text-right" id="navbar-main">
            <ul class="navbar-nav py-5 py-lg-0 ml-auto small">
                {% for node in site.data.menu.pages %}
                <li class="nav-item active">
                    {% if page.url == node.url %}
                    <a class="nav-link active " href="{{node.url}}">{{node.title}} <span class="sr-only">(current)</span></a>

                    {% else %}
                    <a class="nav-link " href="{{node.url}}">{{node.title}} <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>

       </div>
       </div>


    </nav>
</header>
