h1,h2,h3{
    @include titleFont;
}
body, p
{
    @include bodyFont;
    font-weight: 300;
    font-size:22px;

}
a:hover{   
    text-decoration: none;
}
.learn-more-link .glyphicon
{
    font-size: 16px;
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block; 
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
.logo {
    width:280px;
    height:104px;
    
    margin-left:auto;
    margin-right:auto;
   background-size:contain;
    background-repeat:no-repeat;
  @include dessita;
}
.background-img
{

    background-image: url(../assets/img/desk.jpg);
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
    
}
.large-text{
    font-size: 8vw;
} 

.home
{
    
}


.section
{    
    margin-left:-40px;
    margin-right:-40px;
    background:$light-gray;
    &.home
    {
        padding:80px 40px;
    position:relative;
    z-index: 0;
    text-align: center;
    color:$white;
    height:90vh;
    .introduction
    {
      font-size:3.8vw;
    .large-text
        {
            font-weight: bold;
            @include opacity(0.8);
        }
    }
    }
    
  h2{
        font-size:30px;        
        color:darken($white,40%);
        padding-top:40px;
      font-weight: normal;
    
    }
      padding:10vh 10vw;

    color: $gray-dark;
    h3{
        font-size:30px;        
        color:$dark-blue;
    }
    ul.technologies li{
        float:left;
        display:inline;
        padding:0 10px;
        color:darken($white,30%);
        
        &.text
        {
            font-weight: bold;
          font-size: 27px;
    margin-top: -8px;
        }
    }
  
    p{
            color: darken($white,60%);
    }
}
.handwriting
{
    @include handFont;
    text-align: right;
        font-size: 3.8vw;
    padding-right:15vw;
}

.site-footer
{
    position:relative;
    background:gray;
    z-index:1;
          margin-left:-40px;
    margin-right:-40px;
    padding: 30px 10vw;
    
}
/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) { 
.home{
    section .right
    {
        text-align:left;
    }
     section .left
    {
        text-align:right;
    }
    } 
}