$theme-colors: (
        'primary': #684C8A,
        'link-color': #1f6a89,
        'accent-blue': #1f6a89,
        'lila': #684C8A,
        'info': #52abd3,
        'gray-100': #ebebeb,
        'gray-200': #E2E2E2,
        'gray-300': #d6dade,
        'gray-400': #afb2b4,
        'gray-500': #888b8d,
        'pale-blue': #94abba,
        'gray-600': #6a6c6e,
        'gray-800': #464646,
        'success': #5b7919,
        'light-green': #e6fac0,
        'danger-light': #ffe0e0,
        'warning': #ea9e46,
        'light': #efefef,
        'warning-light': #fcd79d,
        'menu-background': #123559,
        'accent': #48bfb2,
        'body': #212529,
        'secondary': #48bfb2,
        'green': #44be44,
);

$navbar-light-color: black;
$navbar-light-hover-color: black;
$navbar-light-active-color: theme-color('link-color');
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        sm: 750px,
        md: 768px,
        lg: 1024px,
        xl: 1360px,
);



$sans-serif-font:   'Source Sans Pro', sans-serif;
$serif-font:   'Playfair Display', serif;

$white: #FFFFFF;
$light-gray: #E6E6E6;
$light-dark: #464646;
$dark-blue: #314452;
$logo-color: #212304;
$navbar-padding-y:2rem;

$btn-border-radius-lg:50px;
$btn-border-radius:50px;
$btn-padding-x-lg:3rem;
$btn-padding-y-lg:0.75rem;
$btn-border-width:0.25rem;












