@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400;700;900&display=swap');

h1, h2, h3 {
  font-family:$serif-font;
}

h1{
  line-height: 1.7;
  }
html, body{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  background-color: $gray-100;
}

footer{
  margin-top:auto;
}
body, p {
  font-family:$sans-serif-font ;
  font-size: 22px;
}
main {
  flex-grow: 1;

}

header, main, footer {
  flex-shrink: 0;
}

.font-sans{
 font-family:$sans-serif-font !important;
}

a:hover {
  text-decoration: none;
}
.overflow-x-hidden{
  overflow-x:hidden;
}
.color-blocks {
  height: 10px;
  width: 100%;
  position: relative;
  overflow: visible;

  &:before {
    content: "";
    position: absolute;
    width: 510px;
    height: 600px;
    background: theme-color('lila');
    transform: rotate(-20deg);
    top: -5vh;
    right: -450px;
    transition: all 1s;
    @include media-breakpoint-down(sm){
      right: -500px;
      transform: rotate(0deg);
      top: 10vh;
      transition: all 0.5s;

    }
  }

  &:after {
    content: "";
    position: absolute;
    width: 510px;
    height: 600px;
    background: theme-color('primary');
    transform: rotate(-20deg);
    top: 20vh;
    left: -480px;
    transition: all 1s;

@include media-breakpoint-down(sm){
  left: -500px;
  top: 10vh;
  transform: rotate(0deg);
  transition: all 0.5s;

}
  }
}

.header-row{
  position:relative;
  &.project{
    &:before{
    transform:rotate(0deg);
  }}

  &:before{
    position:absolute;
    transform:rotate(-20deg);
    content: " ";
    width:1650px;
    height:600px;
    top:-100px;
    right:-50px;
    z-index: -1;
    background-color: $gray-300;
  }

}
.my-process{
  .icon-container{
    position:relative;
    &:after{
      content:" ";
    position:absolute;
    border-radius:50%;
    width:165px;
    height:165px;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
    background-color:rgba(theme-color('primary'), 0.2);
    }

    &:before{
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.189' height='61.388' viewBox='0 0 29.189 61.388'%3E%3Cg id='Component_1_4' data-name='Component 1 – 4' transform='translate(28.488) rotate(90)'%3E%3Cpath id='Path_56' data-name='Path 56' d='M412,1260h59.948' transform='translate(-412 -1246)' fill='none' stroke='%23707070' stroke-width='2'/%3E%3Cpath id='Path_57' data-name='Path 57' d='M510.123,1247.115,524,1261.242l-13.877,13.648' transform='translate(-464.026 -1247.115)' fill='none' stroke='%23707070' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
      position:absolute;

      width: 25px;
      height: 62px;
      left:50%;
      bottom:-62px;
      transform: translate(-50%, 100%);


  }
    @include media-breakpoint-down(sm){
     img{
       width:80px;
       height:80px;
     }
      &:after{
        width:100px;
        height:100px;
      }

    }
}

.step-content{
  flex:1;
  margin-left:5rem;
  @include media-breakpoint-down(sm){
    margin-left:2rem;
  }
}

}

.process-step{
margin-bottom:10rem;
  &:last-of-type .icon-container:before{
    background-image: none;
  }
}
.vh-80{
  height:80vh;
}


.top-bar-mobile{
  @include media-breakpoint-down(md) {
    width:100%;
  }
}
.navbar-nav .nav-link{
  color:theme-color('body');
  font-size:1.2em;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    display: block;
padding:2rem 3rem;
    transition: background-color 0.5s;
      &.active {
    background-color: rgba(theme-color('primary'),0.3);
        transition: background-color 0.5s;
  }
    &:hover{
      background-color: rgba(theme-color('primary'),0.1);
      transition: background-color 0.5s;

    }
  }

@include media-breakpoint-up(lg){
  margin-left:3rem;
  transition: box-shadow 0.5s;
  &.active{
    box-shadow: 0 6px 0 0  theme-color('primary');
    transition: box-shadow 0.5s;
  }
}
}
body > svg {
  display: none;
}

.learn-more-link .glyphicon {
  font-size: 16px;
}
.clients{
  img{
    width:200px;
    height:50px;
    margin-bottom:4rem;

    @include media-breakpoint-down(sm)
    {
      width:100%;

    }
  }
}

h4.blue{
  color:theme-color('primary');
  font-weight: bold;
  margin-bottom:3rem;
}
.page-main-section{
  padding-top:5rem;
  padding-bottom:5rem;
}
.skills li{
  margin-bottom:1rem;
}
.section{

}
.btn.btn-primary{
  border:0.3rem solid darken(theme-color('primary'), 2%);
  @extend .shadow;

}
.project-item{
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding:3rem;
  padding-right:5rem;
  padding-top:5rem;
  text-align: left;
  @include media-breakpoint-up(lg){
text-align: right;

  }
  .btn{
    align-self: flex-start;
    @include media-breakpoint-up(lg){
      align-self: flex-end;

    }
    margin-top:2rem;
    @extend .btn-lg;
    @extend .btn-primary;

  }



  h2{
    font-size:2em;
  }

  &.centered{
    align-items:center;

text-align: center;
  }

  .info-line{
    margin-bottom:1rem;
  }
h4{
  margin-top:3rem;
  font-size:0.9em;
}


}
.top-container-over-bg{
  margin-bottom:-5rem;
  @include media-breakpoint-up(xl){
    margin-bottom:-10rem;
  }
}
.bottom-container-top-padding{
  @include media-breakpoint-up(xl){
    margin-top:10rem;
  }
}
.table-container{
  max-width: 1000px;
  margin-left:auto;
  margin-right:auto;
}
.top-section-blue-bg{
  background-image: url("../assets/images/blue-geometric-background@3x.png");
  background-position: top center;
  background-repeat:no-repeat;
  background-size:cover;
  height:1200px;
  @include media-breakpoint-up(sm){
    height:1050px;
  }
  @include media-breakpoint-up(xl){
  height:630px;
  }
}
.top-section-black-bg{
  background-image: url("../assets/images/blue-geometric-background@3x.png");
  -webkit-filter: grayscale(100%);
  background-position: top center;
  background-repeat:no-repeat;
  background-size:cover;



}
.consumer-subtitle-top-pic{
  color:$white;
  @include media-breakpoint-up(xl){
color:theme-color('gray-800');
  }
}
.logo {

  height: 34px;
  margin-left: auto;
  margin-right: auto;


}
.category-title{
  font-weight: bold;
}

.clients{
  padding:4rem;
  margin-bottom:10rem;
}

.max-width-sm{
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  @extend .p-5;
  @extend .p-xl-0;

}

h4{
  font-weight: bold;
}

.the-story{

  h3{
    margin-top:8rem;
    font-size:3rem;
    margin-bottom:2rem;
  }
  h4{
    margin-top:5rem;
  }
  h4:first-of-type{
    margin-top:0;
  }
  .img-container img{
margin-top:5rem;
  }

  .img-caption{
    border-top:1px solid theme-color('gray-400');

    padding-top:1rem;
    width:100%;
    left:0;
    margin-bottom:5rem;
    margin-top:2rem;
  }
}
.progress{
  border:2px solid theme-color('primary');
  background: $white;
}
.hover-reveal{
  transition: opacity 0.3s;
  opacity: 1;
  &:hover{
    opacity: 0;
    transition: opacity 0.3s;
  }

}
.project-row{
  margin-bottom:15rem;
  min-height:750px;
  @extend .radial-gradient;
  @extend .shadow;
}
.project{
  width:auto;
  text-align:center;
  height:auto;
}
.img-reveal{
  left:0;
  position:absolute;
  z-index: -1;
}
.btn-primary{
  .icon{
    filter: invert(1);
    margin-left:0.5rem;
  }
}

  .project-info{
    margin-left:4rem;
  }

.underline-label{
  font-weight: bold;
  @extend .mx-auto;
  display:inline-block;
  color: theme-color('accent');
  box-shadow: 0 10px 0 0 theme-color('accent');
  @extend .px-2;
  &.lila{
    color: theme-color('lila');
    box-shadow: 0 10px 0 0 theme-color('lila');
  }
}

.radial-gradient{
  background: radial-gradient(circle farthest-side,
          theme-color('gray-100'), $white);
}
.screenshot{
  border:8px solid $white;
  box-shadow: 0 0 60px 0 rgba($black, 0.2);
  border-radius:20px;
}


