/**
 * Site header
 */
.site-header {
  
    min-height: 56px;

    width:100%;
    background:#2f2d29;
 
    display: flex;
   justify-content: center;
   
    a{
        color:$white;
        opacity:0.7;
        font-weight: 100;
         @include titleFont;
    }
}



