@mixin titleFont
{
    font-family: 'Playfair Display', sans-serif;
}
@mixin bodyFont
{
   font-family: 'Source Sans Pro', sans-serif;
}
@mixin handFont
{
     font-family:'Nothing You Could Do', cursive;
}
