.project
{    
    background: darken($gray-lighter,20%);
    display:flex;
    justify-content: center;
   min-height:100vh;
    .container
    {
        
        max-width:980px;
        
    }
    img
    {
        margin:0 auto;
    }
    @media (min-width: $screen-sm-min) { 
         padding:40px 0;
    }
}