.project
{    
    background: $gray-300;
    display:flex;
    justify-content: center;
   min-height:100vh;
    .container
    {
        max-width:980px;
    }
    img
    {
        margin:0 auto;
    }
  @include media-breakpoint-up(sm) {
         padding:120px 0;
    }
}