.project
{    
    background: darken($gray-lighter,20%);
    display:flex;
    justify-content: center;
    padding:50px;
    .container
    {
        padding:40px;
        background:$white;
        max-width:980px;
        
    }
    img
    {
        margin:0 auto;
    }
}