$theme-colors: (
        'primary': #173963,
        'link-color': #173963,

        'light-blue':#88d2db,

        'secondary':#3e8076,
        'info': #345693,
        'yellow':#FFDB14,
        'orange': #FFCC00,
        'gray-100': #ededee,
        'gray-300': #d6dade,
        'gray-500': #979a9c,
        'gray-600': #C6C6C6,
        'gray-700':#747474,
        'gray-800': #666666,
        'success': #3e8076,
        'green': #3e8076,
        'danger':#C74848,
        'warning': #FFA10B,
        'danger-50': #FFD8D8,
        'menu-background': #ededee,
        'link-light': #D9E7F1,
        'green-check':#417d7d
);
$white: #FFFFFF;
$light-gray: #E6E6E6;
$light-dark: #464646;
$dark-blue: #314452;
$logo-color: #212304;