---
title: "Projects"
permalink: /projects
layout: default

---
<div class="container-fluid bg-light">
    <h1 class="page-title"
        style=" margin-bottom:100px;">Projects</h1>
</div>
        <div class="container-xl ">
                {% for item in site.data.projects.all %}
            <div class="row  project-item">
                    <div class="col-12 col-md-6  d-flex align-items-lg-end text-lg-right flex-column  mb-5 mb-lg-0 px-5 pl-lg-0 pr-lg-5 ">
                        <h2>{{item.title}}</h2>
                        <p class="text-size-x2">{{item.subtitle}}</p>
                        <p >Responsibilities: {{item.responsibilities}}</p>

                        {% if item.description %}  <p >Objective: {{item.description}}</p>{% endif %}
                        <a class="btn btn-lg btn-primary " href="{{item.url}}" target="">Learn More</a>
                    </div>

                    <div class="col-12 col-md-6">
                        <img src="assets/images/projects/{{item.image}}" class="img-fluid mt-5 mt-lg-0" />
                    </div>

            </div>
                {% endfor %}
        </div>

