---
title: "Projects"
permalink: /projects
layout: default

---
<div class="container-fluid bg-light">
    <h1 class="text-center font-weight-bold "
        style="font-size:6rem; padding-bottom:100px; padding-top:100px; margin-bottom:100px;">Projects</h1>
</div>
        <div class="container-xl">
                {% for item in site.data.projects.all %}
            <div class="row  project-item">
                    <div class="col col-md-6 d-flex align-items-end flex-column pr-5">
                        <h2>{{item.title}}</h2>
                        <p class="text-size-x2">{{item.subtitle}}</p>
                        <p >Responsibilities: {{item.responsibilities}}</p>

                        {% if item.description %}  <p >Objective: {{item.description}}</p>{% endif %}
                        <a class="btn btn-lg btn-primary" href="{{item.url}}" target="{{item.target}} | '' ">Learn More</a>
                    </div>

                    <div class="col col-md-6">
                        <img src="assets/images/projects/{{item.image}}" class="img-fluid" />
                    </div>

            </div>
                {% endfor %}
        </div>

